{% extends 'base.html' %}

{% block heading %}
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-success">PetsForYou</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Welcome to our shop! We hope you will find you a new friend!
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('pets') }}" class="btn btn-primary btn-lg px-4 gap-3">Pet list!</a>
          </div>
          <div class="px-4 py-5 my-5 text-center">
            <p class="lead mb-4">
              If you don't want, here some cat&dogs facts for you!
            </p>
          <ul class="px-4 py-5 my-5 text-start">
          {% for fact in facts %}
            <li>{{fact}}</li>
          {% endfor %}
          </ul>
          </div>
        </div>
      </div>
{% endblock heading %}