body {
    font-family: 'Festive', cursive !important;
    font-family: 'Roboto', sans-serif !important;  
    font-size: 3vh;
}

aside.sticky-top {
    position: fixed;
    margin-top: 20% !important;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg {
    background-image: url(./portfolio_setup/laptop.png);
    background-size: cover;
}

div.card.mb-3 {
    padding: 15vh 0;
}

.card > img {
    height: 25vh;
}

.card-header {
    border-radius: 0 0 0 100% !important;
}

footer > form > .footer-button {
    width: 100% !important;
}