body {
    font-family: 'Festive', cursive !important;
    font-family: 'Roboto', sans-serif !important;  
    font-size: 3vh;
}

aside.sticky-top {
    position: fixed;
    margin-top: 20% !important;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.card.mb-3 {
    padding: 15vh 0;
}
