body {
    background-color: rgb(141, 228, 141);
}

.container{
    text-align: center;
}

form {
    margin-top: 40px;
    margin-bottom: 15px;
}

.listTasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40%;
    width: 200px;
}

.flex {
    display: flex;
    width: 200px;
    margin-left: 40%;
    justify-content: flex-start;
    align-items: center;
}

.margin {
    margin: 5px;
}

.redcross {
    color: red;
    text-decoration: line-through;
}