{% extends "layout.html" %}
	
{% block navigation %}
	<nav>
    <ul>
        <li>
            <a href='{{ url_for("colored", color="blue") }}'>blue</a>
        </li>
        <li>
            <a href='{{ url_for("colored", color="red") }}'>red</a>
        </li>
        <li>
            <a href='{{ url_for("colored", color="green") }}'>green</a>
        </li>
        <li>
            <a href='{{ url_for("colored", color="yellow") }}'>yellow</a>
        </li>
    </ul>
</nav>
{% endblock navigation %}
