{% extends 'base.html' %}

{% block body %}
    <div class="container">
        {% if cities %}
            {% for city in cities %}
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{url_for('static', filename=city.file)}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{city.name}}</h5>
                        <p class="card-text">Country: {{city.country}}</p>
                        <p class="card-text">Inhabitants: {{city.inhabitants}} p.</p>
                        <p class="card-text">Area: {{city.area}} km<sup>2</sup></p>
                        <p class="card-text">Description: {{city.description}}</p>
                        <p class="card-text">Capital: {{city.capital}}</p>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="card mt-5 mb-2 text-center bg-light" style="max-width: 80%;">
                <h2>Sorry, but the list of cities still empty. You can add your city!</h2>
                <a href="{{url_for('add_city')}}" class="btn btn-primary"> Let's try! </a>
            </div>

        {% endif %}
    </div>
{% endblock body %}